
.inner-container{
    height: 100px;
}
.card-section1 img {
    width: 250px;
    height: 200px;
}

.card {
    max-width: 400px;
    min-width: 250px;
    max-height: 380px;
    min-height: 390px;
    text-align: center;
    background-color: #8a84ef;

}

.card-section1{
    display: flex;
    justify-content: space-around;
}
footer{
   
    font-family: arial;
    
    display: grid;
    grid-template-columns: 2.4fr 2.4fr 2.4fr 2.4fr 2.4fr;
    margin-top: 80px;
    margin-bottom: 30px;
}

footer span{
    display: block;
}
.article{
     display: flex;
     justify-content: space-around;
     gap: 30px;
}

.delete-btn {
    margin-left: 10px;
    padding: 3px 8px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.delete-btn:hover {
    background-color: darkred;
}

@media screen and(orientation: portrait){
    .container{
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    .card-section{
        display: flex;
        flex-direction: column;
        
    }
    .inner-container{
        width: 100%;
    }
}
